@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

.flexible-container {
    display: flex;
    height: 600px;
    padding: 100px;
    width: 80%;
    margin: 100px auto;
    justify-content: space-between;
    align-items: center;
    background: #161616;
    border-radius: 30px;
}

.half-width {
    width: 50%;
    float: left;
    margin: 20px;
    padding: 2%;
}

.banner-text {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 700;
    font-size: 70px;
    line-height: 80px;
    color: #FFFFFF;
}

.banner-para {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
}

.link-button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 16px 25px;
    gap: 10px;
    position: absolute;
    margin-top: 2rem;
    width: 187px;
    height: 56px;
    background: #DD0000;
    border-radius: 5px;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    text-decoration: none;
    color: #FFFFFF;
}

.half-width-header {
    width: 50%;
    float: right;
    margin: 20px;
    /* padding: 2%; */
}

.half-width-header img {
    width: 100%;
    margin-bottom: -5.1rem;
}


/* Blog Section */
.blogs-section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.blogs-onclick {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 312px;
    height: 312px;
    background: #161616;
    border-radius: 10px;
    margin: 0 auto;
}

.blogs-onclick a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    width: 252px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 10px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #161616;
}

#blog {
    background-color: #DD0000;
    color: white;
}

.blog-section {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
    gap: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

.blog-section .blog {
    border: 1px solid wheat;
    width: 311px;
    border-radius: 10px;
}

.blog .blog-info {
    padding: 15px;
}

.blog .blog-info-likes{
    display: flex;
    gap: 20px;
}

.blog .blog-info-like{
    display: flex;
    align-items: center;
    gap: 10px;
}

.blog .blog-btn {
    text-decoration: none;
    border: 1px solid;
    padding: 5px;
    width: 100px;
    height: 32px;
    border-radius: 5px;
}

/* Footer part */
footer {
    background-color: black;
    color: white;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    margin-top: 20px;
}

hr {
    color: rgb(218, 218, 218);
    width: 80%;
}

footer h1 {
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    text-align: center;
    color: #FFFFFF;
}

.footer-link {
    margin-top: 40px;
}

.footer-link a {
    text-decoration: none;
    margin-right: 10px;
    color: #FFFFFF;
}

.footer-link a:hover {
    text-decoration: underline;
}

.footer-social{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    margin-top: 40px;
}

.footer-social a{
    color: white;
    font-size: 2rem;
}
.footer-social a:nth-child(1):hover{
    color: rgb(34, 34, 241);
}
.footer-social a:nth-child(3):hover{
    color: rgb(0, 106, 245);
}